.main-title {
	font-size: 3em;
	margin-left: 30px;
}

.todayLow {
	float: left;
}

.todayHigh {
	float: right;
}

.label {
	margin: 0 5 0 5px;
	font-size: 1em;
	/*margin-top: 2.5px;*/
}

.currentConditions {
	margin: auto;
	text-align: center;
}

.fa-arrow-circle-up {
	color: red;
}

.fa-arrow-circle-down {
	color: blue;
}

.thumbnail {
	font-size: 1.3em;
}